.container {
  margin-top: 12rem;
  font-family: var(--font-display);
  text-align: center;
}

.not_found__header {
  font-size: var(--font-size-3xl);
  margin-bottom: 4rem;
}

.not_found__info {
  font-size: var(--font-size-xl);
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.home__btn {
  padding: 1rem 1.4rem;

  font-size: var(--font-size-md);
  font-weight: 600;
  text-decoration: none;

  background-color: var(--color-accent);
  color: var(--color-text-light);

  border-radius: var(--radius-md);
  border: 0.1rem solid var(--color-accent);

  transition:
    background-color var(--transition-fast),
    color var(--transition-fast);
}

.home__btn:hover,
.home__btn:active {
  background-color: var(--color-text-light);
  color: var(--color-accent);
}
